.linksContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.link {
    background-color: #fff;
    border-radius: 3px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 5rem;
}

.linkInfo {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
}

.linkTitle {
    display: flex;
    align-items: center;
    padding: 5px 0;
    font-weight: bolder;
    font-size: 1.2rem;
}

.linkUrl {
    display: flex;
    align-items: center;
    padding: 5px 0;
    color: #555;
    text-transform: lowercase;
    font-size: 1.1rem;
}

.linkActions {
    display: flex;
    align-content: stretch;
    align-items: stretch;
    height: 100%;
}

.btnEdit {
    height: 1rem;
    border: none;
    background-color: transparent;
    color: #ccc;
    cursor: pointer;
}

.btnDelete {
    border: none;
    padding: 0;
    margin: 0;
    background-color: transparent;
    height: 1rem;
    color: #ccc;
    cursor: pointer;
    min-height: 100%;
    padding: 0 20px;
    flex: 1;
}

.btnDelete:hover {
    background-color: #ff0000;
    color: #fff;
}

.btnDelete .material-icons {
    font-size: 1.6rem;
}

.btnEdit:hover {
    color: #222;
}